* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  background-color: #fcfcfc;
  font-family: "Cairo", sans-serif;
  direction: rtl;
}

:root {
  --primary-color: #24b151;
  --golden-color: #b78f02;
  --white-color: white;
  --Gray-color: #262626;
  --box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}

.material-symbols-outlined {
  font-variation-settings: "FILL" 1, "wght" 400, "GRAD" 0, "opsz" 48;
  color: white;
  margin-left: 10px;
  font-size: 30px;
}

.max-width {
  width: 85%;
  margin: auto;
}

/*########################################## Header start ##########################################################*/
header {
  background-color: var(--primary-color);
  padding: 15px;
  -webkit-transition: 1s;
  transition: 1s;
}
header .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  flex-direction: row;
}
header ul li {
  position: relative;
}
header ul li a {
  text-decoration: none;
  margin: 5px 10px;
  font-size: 20px;
  color: var(--white-color);
  cursor: pointer;
  font-family: system-ui;
  position: relative;
}
header ul li.active a:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 12px;
  width: 100%;
  right: 0;
  bottom: -30px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
header .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  width: 23%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-direction: row;
      flex-direction: row;
}
header .icons li {
  position: relative;
  list-style: none;
}
header .icons li a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  margin: 5px 10px;
  font-size: 20px;
  color: var(--white-color);
  cursor: pointer;
  font-family: system-ui;
  position: relative;
}
header .icons li.active a:after {
  content: "";
  position: absolute;
  background-color: white;
  height: 12px;
  width: 100%;
  right: 0;
  bottom: -24px;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
header .icons img {
  height: 35px;
  color: white;
}
header .icons .cart li a span {
  margin-left: unset;
}
header .burgerIcon {
  display: none;
}
header .burgerIcon span {
  display: block;
  width: 35px;
  height: 5px;
  color: white;
  background-color: white;
  margin: 7px 0;
  border-radius: 2px;
}

/*########################################## Header End ##########################################################*/
/*#################################### first Page Start ##############################################*/
.firstPage .one {
  margin-top: 30px;
}
.firstPage .one .container {
  overflow: hidden;
  border-radius: 15px;
}
.firstPage .one .container .img-cont {
  display: -webkit-box;
  -webkit-animation: slide 20s infinite;
          animation: slide 20s infinite;
}
.firstPage .one .container .img-cont img {
  width: 100%;
  height: 71vh;
  display: block;
}
.firstPage .one .bulults {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.firstPage .one .bulults li {
  height: 15px;
  width: 15px;
  background-color: #babfbc;
  margin: 10px;
  border-radius: 50%;
}
.firstPage .one .bulults li.active {
  width: 50px;
  border-radius: 10px;
  background-color: var(--primary-color);
}
@-webkit-keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  55% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  75% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  80% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}
@keyframes slide {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  25% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  30% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  50% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  55% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  75% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  80% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  100% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
}
.firstPage .two {
  padding: 30px 0;
}
.firstPage .two .title {
  margin: 30px 0;
  font-size: 32px;
  color: var(--golden-color);
  text-align: center;
}
.firstPage .two .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.firstPage .two .container p {
  font-size: 22px;
  text-align: end;
  font-weight: 500;
}
.firstPage .three {
  padding: 30px 0;
}
.firstPage .three .max-width .title {
  margin: 30px 0;
  font-size: 32px;
  color: var(--golden-color);
  text-align: center;
}
.firstPage .three .max-width .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.firstPage .three .max-width .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin: 20px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  border-radius: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  height: 350px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 300px;
}
.firstPage .three .max-width .container .box.gold .top {
  background-color: var(--golden-color);
}
.firstPage .three .max-width .container .box .top {
  background-color: var(--primary-color);
  height: auto;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 35%;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}
.firstPage .three .max-width .container .box .top > div {
  z-index: 20;
  position: absolute;
  background-color: white;
  border-radius: 50%;
  top: 90%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  padding: 30px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.firstPage .three .max-width .container .box .top > div img {
  z-index: 30;
  position: relative;
  height: 80px;
}
.firstPage .three .max-width .container .box .subTitle {
  font-weight: 500;
  text-align: center;
  color: var(--golden-color);
  font-weight: 600;
}
.firstPage .three .max-width .container .box p {
  text-align: center;
}
.firstPage .four .max-width .title {
  margin: 30px 0;
  font-size: 32px;
  color: var(--golden-color);
  text-align: center;
}
.firstPage .four .max-width .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-top: 50px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  margin: auto;
}
.firstPage .four .max-width .container .box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
  border: 1px solid var(--primary-color);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  cursor: pointer;
}
.firstPage .four .max-width .container .box:hover {
  background-color: rgba(36, 177, 81, 0.2509803922);
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.firstPage .four .max-width .container .box h3 {
  color: var(--primary-color);
}
.firstPage .four .max-width .container .box > div {
  padding-left: 20px;
}
.firstPage .four .max-width .container .box > div img {
  height: 60px;
}
.firstPage .five .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.firstPage .five .max-width .title {
  margin: 30px 0;
  font-size: 32px;
  color: var(--golden-color);
}
.firstPage .five .max-width .toggle-box {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: white;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 10px -3px rgba(0, 0, 0, 0.5);
}
.firstPage .five .max-width .toggle-box .right, .firstPage .five .max-width .toggle-box .left {
  width: 50%;
  text-align: center;
  padding: 15px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.firstPage .five .max-width .toggle-box .right h2, .firstPage .five .max-width .toggle-box .left h2 {
  opacity: 0.4;
}
.firstPage .five .max-width .toggle-box .right.checked, .firstPage .five .max-width .toggle-box .left.checked {
  background-color: var(--primary-color);
}
.firstPage .five .max-width .toggle-box .right.checked h2, .firstPage .five .max-width .toggle-box .left.checked h2 {
  color: white;
  opacity: 1;
  font-weight: 400;
}
.firstPage .five .max-width .toggle-box .right.checked {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}
.firstPage .five .max-width .toggle-box .left.checked {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.firstPage .five .packedges-cont, .firstPage .five .packedges-cont-second {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /* ###################################### boxes #########################################*/
  /*######## Special for mid box ########*/
}
.firstPage .five .packedges-cont .boxes-container, .firstPage .five .packedges-cont-second .boxes-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.firstPage .five .packedges-cont .second-nested-section, .firstPage .five .packedges-cont-second .second-nested-section {
  margin-top: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.firstPage .five .packedges-cont .second-nested-section h1, .firstPage .five .packedges-cont-second .second-nested-section h1 {
  margin-bottom: 30px;
}
.firstPage .five .packedges-cont .second-nested-section .nested-boxes-container, .firstPage .five .packedges-cont-second .second-nested-section .nested-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.firstPage .five .packedges-cont .second-nested-section .main-box, .firstPage .five .packedges-cont-second .second-nested-section .main-box {
  margin: 0 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.firstPage .five .packedges-cont .second-nested-section .main-box .img-cont, .firstPage .five .packedges-cont-second .second-nested-section .main-box .img-cont {
  padding: 30px;
  -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-bottom: -26px;
  background-color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.firstPage .five .packedges-cont .second-nested-section .main-box img, .firstPage .five .packedges-cont-second .second-nested-section .main-box img {
  height: 85px;
  width: 85px;
}
.firstPage .five .packedges-cont .second-nested-section .main-box .text-cont, .firstPage .five .packedges-cont-second .second-nested-section .main-box .text-cont {
  padding: 31px 10px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
  border-radius: 36px;
}
.firstPage .five .packedges-cont .second-nested-section .main-box .text-cont h3, .firstPage .five .packedges-cont-second .second-nested-section .main-box .text-cont h3 {
  text-align: center;
}
.firstPage .five .packedges-cont .left-box, .firstPage .five .packedges-cont .mid-box, .firstPage .five .packedges-cont .right-box, .firstPage .five .packedges-cont-second .left-box, .firstPage .five .packedges-cont-second .mid-box, .firstPage .five .packedges-cont-second .right-box {
  width: 32.2580645161%;
  padding: 20px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  min-width: 265px;
}
.firstPage .five .packedges-cont .left-box > h1, .firstPage .five .packedges-cont .mid-box > h1, .firstPage .five .packedges-cont .right-box > h1, .firstPage .five .packedges-cont-second .left-box > h1, .firstPage .five .packedges-cont-second .mid-box > h1, .firstPage .five .packedges-cont-second .right-box > h1 {
  margin: 30px 0;
  font-size: 32px;
  color: var(--golden-color);
  margin: unset;
  margin-bottom: 130px;
}
.firstPage .five .packedges-cont .left-box .price-cont, .firstPage .five .packedges-cont .mid-box .price-cont, .firstPage .five .packedges-cont .right-box .price-cont, .firstPage .five .packedges-cont-second .left-box .price-cont, .firstPage .five .packedges-cont-second .mid-box .price-cont, .firstPage .five .packedges-cont-second .right-box .price-cont {
  -webkit-clip-path: polygon(0 0, 100% 0%, 100% 100%, 28% 100%);
          clip-path: polygon(0 0, 100% 0%, 100% 100%, 28% 100%);
  width: 85%;
  margin: 25px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background-color: var(--primary-color);
  position: absolute;
  right: 0;
  top: 65px;
  padding: 20px;
  -webkit-box-shadow: var(--box-shadow);
          box-shadow: var(--box-shadow);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}
.firstPage .five .packedges-cont .left-box .price-cont h2, .firstPage .five .packedges-cont .mid-box .price-cont h2, .firstPage .five .packedges-cont .right-box .price-cont h2, .firstPage .five .packedges-cont-second .left-box .price-cont h2, .firstPage .five .packedges-cont-second .mid-box .price-cont h2, .firstPage .five .packedges-cont-second .right-box .price-cont h2 {
  color: white;
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.firstPage .five .packedges-cont .left-box .price-cont h2:last-child, .firstPage .five .packedges-cont .mid-box .price-cont h2:last-child, .firstPage .five .packedges-cont .right-box .price-cont h2:last-child, .firstPage .five .packedges-cont-second .left-box .price-cont h2:last-child, .firstPage .five .packedges-cont-second .mid-box .price-cont h2:last-child, .firstPage .five .packedges-cont-second .right-box .price-cont h2:last-child {
  margin-left: 5px;
}
.firstPage .five .packedges-cont .left-box .price-cont h2 span, .firstPage .five .packedges-cont .mid-box .price-cont h2 span, .firstPage .five .packedges-cont .right-box .price-cont h2 span, .firstPage .five .packedges-cont-second .left-box .price-cont h2 span, .firstPage .five .packedges-cont-second .mid-box .price-cont h2 span, .firstPage .five .packedges-cont-second .right-box .price-cont h2 span {
  font-size: 21px;
  margin-right: 2px;
}
.firstPage .five .packedges-cont .left-box .price-cont h2:last-child, .firstPage .five .packedges-cont .mid-box .price-cont h2:last-child, .firstPage .five .packedges-cont .right-box .price-cont h2:last-child, .firstPage .five .packedges-cont-second .left-box .price-cont h2:last-child, .firstPage .five .packedges-cont-second .mid-box .price-cont h2:last-child, .firstPage .five .packedges-cont-second .right-box .price-cont h2:last-child {
  font-size: 30px;
}
.firstPage .five .packedges-cont .left-box .main-point, .firstPage .five .packedges-cont .mid-box .main-point, .firstPage .five .packedges-cont .right-box .main-point, .firstPage .five .packedges-cont-second .left-box .main-point, .firstPage .five .packedges-cont-second .mid-box .main-point, .firstPage .five .packedges-cont-second .right-box .main-point {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.firstPage .five .packedges-cont .left-box .main-point .cont, .firstPage .five .packedges-cont .mid-box .main-point .cont, .firstPage .five .packedges-cont .right-box .main-point .cont, .firstPage .five .packedges-cont-second .left-box .main-point .cont, .firstPage .five .packedges-cont-second .mid-box .main-point .cont, .firstPage .five .packedges-cont-second .right-box .main-point .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 8px 0;
}
.firstPage .five .packedges-cont .left-box .main-point .cont span, .firstPage .five .packedges-cont .mid-box .main-point .cont span, .firstPage .five .packedges-cont .right-box .main-point .cont span, .firstPage .five .packedges-cont-second .left-box .main-point .cont span, .firstPage .five .packedges-cont-second .mid-box .main-point .cont span, .firstPage .five .packedges-cont-second .right-box .main-point .cont span {
  height: 10px;
  width: 10px;
  background-color: var(--primary-color);
  display: inline;
  margin-left: 10px;
  border-radius: 50%;
}
.firstPage .five .packedges-cont .left-box .main-point h4, .firstPage .five .packedges-cont .mid-box .main-point h4, .firstPage .five .packedges-cont .right-box .main-point h4, .firstPage .five .packedges-cont-second .left-box .main-point h4, .firstPage .five .packedges-cont-second .mid-box .main-point h4, .firstPage .five .packedges-cont-second .right-box .main-point h4 {
  font-weight: 500;
}
.firstPage .five .packedges-cont .left-box .nested-point, .firstPage .five .packedges-cont .mid-box .nested-point, .firstPage .five .packedges-cont .right-box .nested-point, .firstPage .five .packedges-cont-second .left-box .nested-point, .firstPage .five .packedges-cont-second .mid-box .nested-point, .firstPage .five .packedges-cont-second .right-box .nested-point {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-right: 35px;
  margin-top: 10px;
}
.firstPage .five .packedges-cont .left-box .nested-point .cont, .firstPage .five .packedges-cont .mid-box .nested-point .cont, .firstPage .five .packedges-cont .right-box .nested-point .cont, .firstPage .five .packedges-cont-second .left-box .nested-point .cont, .firstPage .five .packedges-cont-second .mid-box .nested-point .cont, .firstPage .five .packedges-cont-second .right-box .nested-point .cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 3px 0;
}
.firstPage .five .packedges-cont .left-box .nested-point .cont span, .firstPage .five .packedges-cont .mid-box .nested-point .cont span, .firstPage .five .packedges-cont .right-box .nested-point .cont span, .firstPage .five .packedges-cont-second .left-box .nested-point .cont span, .firstPage .five .packedges-cont-second .mid-box .nested-point .cont span, .firstPage .five .packedges-cont-second .right-box .nested-point .cont span {
  height: 10px;
  width: 10px;
  background-color: black;
  display: inline;
  margin-left: 10px;
  border-radius: 50%;
  margin-left: 7px;
}
.firstPage .five .packedges-cont .left-box .nested-point h4, .firstPage .five .packedges-cont .mid-box .nested-point h4, .firstPage .five .packedges-cont .right-box .nested-point h4, .firstPage .five .packedges-cont-second .left-box .nested-point h4, .firstPage .five .packedges-cont-second .mid-box .nested-point h4, .firstPage .five .packedges-cont-second .right-box .nested-point h4 {
  font-weight: 400;
  font-family: system-ui;
}
.firstPage .five .packedges-cont .left-box button, .firstPage .five .packedges-cont .mid-box button, .firstPage .five .packedges-cont .right-box button, .firstPage .five .packedges-cont-second .left-box button, .firstPage .five .packedges-cont-second .mid-box button, .firstPage .five .packedges-cont-second .right-box button {
  border: none;
  background-color: transparent;
  border-radius: 15px;
  border: 3px solid var(--primary-color);
  padding: 15px 40px;
  font-size: 20px;
  font-family: system-ui;
  color: var(--primary-color);
  margin-top: 30px;
  cursor: pointer;
}
.firstPage .five .packedges-cont .left-box button:hover, .firstPage .five .packedges-cont .mid-box button:hover, .firstPage .five .packedges-cont .right-box button:hover, .firstPage .five .packedges-cont-second .left-box button:hover, .firstPage .five .packedges-cont-second .mid-box button:hover, .firstPage .five .packedges-cont-second .right-box button:hover {
  color: white;
  background-color: var(--primary-color);
}
.firstPage .five .packedges-cont .mid-box, .firstPage .five .packedges-cont-second .mid-box {
  background-color: var(--primary-color);
}
.firstPage .five .packedges-cont .mid-box .main-point, .firstPage .five .packedges-cont-second .mid-box .main-point {
  color: white;
}
.firstPage .five .packedges-cont .mid-box .main-point .cont span, .firstPage .five .packedges-cont-second .mid-box .main-point .cont span {
  background-color: white;
}
.firstPage .five .packedges-cont .mid-box .main-point .cont h4, .firstPage .five .packedges-cont-second .mid-box .main-point .cont h4 {
  text-align: end;
}
.firstPage .five .packedges-cont .mid-box > h1, .firstPage .five .packedges-cont-second .mid-box > h1 {
  color: white;
}
.firstPage .five .packedges-cont .mid-box .nested-point h4, .firstPage .five .packedges-cont-second .mid-box .nested-point h4 {
  color: white;
}
.firstPage .five .packedges-cont .mid-box .nested-point span, .firstPage .five .packedges-cont-second .mid-box .nested-point span {
  background-color: var(--white-color) !important;
}
.firstPage .five .packedges-cont .mid-box .price-cont, .firstPage .five .packedges-cont-second .mid-box .price-cont {
  background-color: white;
}
.firstPage .five .packedges-cont .mid-box .price-cont h2, .firstPage .five .packedges-cont-second .mid-box .price-cont h2 {
  color: var(--golden-color);
}
.firstPage .five .packedges-cont .mid-box button, .firstPage .five .packedges-cont-second .mid-box button {
  border: 3px solid var(--white-color);
  color: white;
}
.firstPage .five .packedges-cont .mid-box button:hover, .firstPage .five .packedges-cont-second .mid-box button:hover {
  color: var(--primary-color);
  background-color: white;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}
.firstPage .five .packedges-cont {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
  /* display: none !important; */
}
.firstPage .five .packedges-cont-second {
  display: none !important;
}
.firstPage .six {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 50px;
}
.firstPage .six .title {
  margin: 30px 0;
  font-size: 32px;
  color: var(--golden-color);
  text-align: center;
}
.firstPage .six .nested-boxes-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.firstPage .six .nested-boxes-container .main-box {
  margin: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.firstPage .six .nested-boxes-container .main-box .img-cont {
  padding: 30px;
  -webkit-box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 8px -4px rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin-bottom: -26px;
  background-color: white;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.firstPage .six .nested-boxes-container .main-box .img-cont img {
  height: 85px;
  width: 85px;
}
.firstPage .six .text-cont {
  padding: 31px 10px;
  -webkit-box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 10px -5px rgba(0, 0, 0, 0.5);
  border-radius: 36px;
}
.firstPage .six .text-cont h3 {
  text-align: center;
}
.firstPage .six .text-cont h3:last-child {
  text-align: center;
  font-size: 23px;
  margin: 13px 0;
}
.firstPage .data .max-width {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 80px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.firstPage .data .max-width h1 {
  color: var(--golden-color);
  font-size: 30px;
}
.firstPage .data .max-width .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  margin-top: 60px;
}
.firstPage .data .max-width .container .box {
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.firstPage .data .max-width .container .box span {
  height: 125px;
  width: 125px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: white;
  border-radius: 66%;
  margin-top: 35px;
  -webkit-box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 0px 12px -5px rgba(0, 0, 0, 0.5);
  position: relative;
}
.firstPage .data .max-width .container .box span img {
  position: absolute;
  width: 180%;
  left: 53%;
  top: 55%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

/*#################################### footer section Atart ############################################*/
footer {
  height: 100px;
  background-color: #262626;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 65px;
}
footer h2 {
  font-weight: lighter;
}

/*#################################### footer section End ##############################################*/
/*######################################## responsive style #############################################*/
@media screen and (max-width: 600px) {
  /* Styles for screens that are 600px wide or less */
  header .links_container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 285px !important;
  }
  header .links_container ul li {
    position: relative;
    margin: 5px 0;
  }
  header .links_container ul li.active a:after {
    content: "";
    height: 15px;
    width: 15px;
    right: -29px;
    bottom: 4px;
    border-radius: 50%;
  }
  .one .mainPageImgs img {
    height: 43vh !important;
  }
}
@media screen and (min-width: 601px) and (max-width: 900px) {
  /* Styles for screens that are between 601px and 900px wide */
  header .links_container ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    max-height: 285px !important;
  }
  header .links_container ul li {
    position: relative;
    margin: 5px 0;
  }
  header .links_container ul li.active a:after {
    content: "";
    height: 15px;
    width: 15px;
    right: -29px;
    bottom: 4px;
    border-radius: 50%;
  }
  .one .mainPageImgs img {
    height: 50vh !important;
  }
  .one .cards .cards-container .card {
    margin: 10px;
    width: 230px;
  }
  .one .cards .cards-container .card img:last-child {
    position: absolute;
    left: 50%;
    top: 38%;
    border-radius: 50%;
    height: 150px;
    width: 150px;
  }
}
@media screen and (max-width: 1150px) {
  header .links_container ul {
    display: none;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: absolute;
    right: -5px;
    top: 55px;
    background-color: var(--primary-color);
    z-index: 10;
    padding: 0;
    max-height: 0;
  }
  header .links_container .burgerIcon {
    display: block;
  }
  .one .two .container p {
    text-align: center;
    margin-top: 25px;
  }
  .one .five .packedges-cont,
  .one .five .packedges-cont-second {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .one .five .packedges-cont-second .boxes-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media screen and (max-width: 1350px) {
  header .icons {
    width: auto;
  }
  .one .cards .cards-container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .one .cards .cards-container .card {
    margin: 10px;
  }
  .one .data .container {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .one .data .container .box {
    margin: 40px 20px;
  }
  .one .five .packedges-cont .left-box, .one .five .packedges-cont .mid-box, .one .five .packedges-cont .right-box,
  .one .five .packedges-cont-second .left-box,
  .one .five .packedges-cont-second .mid-box,
  .one .five .packedges-cont-second .right-box {
    width: 30%;
    margin: 20px;
  }
  .one .five .packedges-cont .left-box .price-cont, .one .five .packedges-cont .mid-box .price-cont, .one .five .packedges-cont .right-box .price-cont,
  .one .five .packedges-cont-second .left-box .price-cont,
  .one .five .packedges-cont-second .mid-box .price-cont,
  .one .five .packedges-cont-second .right-box .price-cont {
    width: 97%;
  }
}
